@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bold {
  @apply text-dark font-extrabold;
}

h1 {
  @apply text-6xl primary-bold;
  line-height: 1.2;
}

h2 {
  @apply text-5xl primary-bold;
}

h3 {
  @apply text-4xl primary-bold;
}

h4 {
  @apply text-3xl primary-bold;
}

h5 {
  @apply text-2xl primary-bold;
}

p {
  @apply text-xl;
}

.sect {
  @apply flex flex-col lg:flex-row items-center justify-center text-center xlg:text-left py-10 xlg:py-32;
}

.sectImg {
  @apply w-2/3 xlg:w-1/3 min-w-70vw lg:min-w-0;
}

.min-w-70vw {
  min-width: 90vw;
}

.sectArticle {
  @apply lg:w-3/5 xlg:w-1/5 mx-20 xlg:pt-6;
}

.bg-image-leaves {
  background-image: url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
