$primary : #404eed;
$primary-darker : #3c49d8;
$primary-lighter : #7982f4;
$white : #fff;
$off-white : #f6f6f6;
$dark : #23272a;
$less-dark : #333;


body {
  overflow-x: hidden;

  * div {
    overflow-x: hidden;
  }
}

.minh-40 {
  min-height: 40rem;
}

.minh-30 {
  min-height: 30rem;
}

.dark-btn {
  padding: 0.75rem 1.5rem;
  background-color: $dark;
  border-radius: 5rem;
  transition: 0.4s;
  transition-property: color;
  transition-property: background-color;
  transition-property: box-shadow;

  &:hover {
    cursor: pointer;
    background-color: $less-dark;
    box-shadow: 0px 4px 10px rgba(65, 65, 65, 0.397);
  }
}

.light-btn {
  padding: 0.75rem 1.5rem;
  color: black;
  background-color: $white;
  border-radius: 5rem;
  transition: 0.4s;
  transition-property: color;
  transition-property: background-color;
  transition-property: box-shadow;

  &:hover {
    cursor: pointer;
    color: $primary;
    box-shadow: 0px 10px 10px $primary-darker;
  }
}

.blurple-btn {
  padding: 0.75rem 1.5rem;    
  color: $white;
  background-color: $primary;
  border-radius: 5rem;
  transition: 0.4s;
  transition-property: color;
  transition-property: background-color;
  transition-property: box-shadow;

  &:hover {
    cursor: pointer;
    background-color: $primary-lighter;
    box-shadow: 0px 1px 7px grey;
  }
}

.heroSection {
  background-image: url('../images/hero-clouds.svg');
  background-size: cover;
}